<div class="container-column">

  <div class="news">
    <div class="heading">New posts:</div>

    <div *ngFor="let item of news">
      <div class="preview">
        <p>
          <a class="open-post" routerLink="/posts/{{item.Id}}">
            <span>{{item.Title}}
              <span class="badge">{{item.Comments}}</span>
            </span>
          </a>
        </p>
        <p class="user-name">
          <a (click)="getPostsByUser(item.UserId)">{{item.AuthorName}}</a>
        </p>
        <p class="date">{{item.PostedAt | date: 'dd/MM/yyyy hh:mm'}}</p>
      </div>
    </div>

    <div class="container">
        <ul class="pagination">
          <li>
            <button class="button-pagination" type="button" (click)="goPrev()"> << Previous</button>
          </li>
          <li>
            <button class="button-pagination" type="button" (click)="goNext()">Next >> </button>
          </li>
        </ul>
      </div>
  </div>

  <div class="tags">
    <div class="heading">Top tags:</div>
    <div class="container" >
      <span *ngFor="let tag of tags" (click)="onTagClick(tag.Name)" class="badge">{{tag.Name}}</span>
    </div>
  </div>
  
</div>