.preview {
    padding: 10px;
    margin-bottom: 15px;
}

.preview p {
    margin: 0;
}
.open-post {
    display: block;
    text-align: right;
    text-decoration: none;
    font-size: 14px;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    margin: 0 2px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #4f4a47;
    border-radius: 10px;
}
.heading {
    padding: 5px 10px;
    background-color: #f6ece1;
}

.date {
    float: right;
    font-size: 14px;
    margin: 6px 8px 0;
}

.user-name {
    float: left;
}
a{
    margin: 10px;
    text-decoration: none;
    color: #4f4a47;
    font-weight: 700;
}
a:hover {
    color: #e1d7c8;
}
.open-post > a > span{
    text-align: left;
}

.news.news {
    /* float: right; */
    border-left: 6px solid #e1d7c8;
    box-shadow: 0 2px 6px 0;
    height: 400px;
    width: 390px;
    margin-left: 30px;
    margin-bottom: 30px;
    color: #4f4a47;
}
.tags {
    /* float: right; */
    border-left: 6px solid #e1d7c8;
    box-shadow: 0 2px 6px 0;
    height: 200px;
    width: 390px;
    margin-left: 30px;
    margin-bottom: 30px;
    color: #4f4a47;
}
.button-pagination{
    display: block;
    margin: 0px auto 5px;
    border: 0;
    background-color: #e1d7c8;
    color: #fdfdfd;
    font-size: 20px;
    font-weight: 700;
    height: 40px;
    width: 150px;
}

.button-pagination:hover {
    background-color: #4f4a47;
}