.creator-form{
    display: flex;
    flex-direction: column;
    background-color:  #f4f4f4;
}
textarea{
    resize: none;
    width: 75%;
}

/* .creator{
    
}
.heading{
    
}
.description{
    
}
.text{
    
}
.tags{
    
} */