@import '~bootstrap/dist/css/bootstrap.css';

a, a:not([href]):not([tabindex]){
    margin: 0px 10px 10px 0px;
    text-decoration: none;
    color: #4f4a47;
    font-weight: 700;
    cursor: pointer;
}

a:hover,a:not([href]):not([tabindex]):hover {
    color: #e1d7c8;
}

.main-post {
    float: left;
    border-left: 6px solid #e1d7c8;
    box-shadow: 0 2px 6px 0;
    width: 750px;
    margin-bottom: 30px;
}

.main-post hr {
    width: 600px;
}

.heading {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: #f6ece1;
}

.date {
    float: right;
    font-size: 14px;
    margin: 6px 8px 0;
}