#login-form {
    padding-top: 70px;
    text-align: center;
    background-color: #f4f4f4;
}
.form-control {
    background-color: #ffffff;
    border: 0;
    min-height: 35px;
    /* box-shadow: 0 2px 6px 0; */
    width: 250px;
    text-align: center;
    font-size: 20px;
    display: block;
    margin: 15px auto;
}

.button-submit {
    display: block;
    margin: 15px auto 5px;
    border: 0;
    background-color: #e1d7c8;
    color: #fdfdfd;
    font-size: 20px;
    font-weight: 700;
    height: 40px;
    width: 250px;
}

    .button-submit:hover {
        background-color: #4f4a47;
    }