.comment-creator {
    margin: 15px 15px 25px;
    max-height: 220px;
    min-height: 180px;
    border: 0;
}

.comment-creator .comment-input {
    width: 100%;
}

.comment-creator .button-submit {
    float: right;
    margin: 0;
}

.comment-creator .button-submit:hover {
    margin: 0;
}