<form class="form-group form-control">

  <input name="loginInput" type="text" class="form-control" placeholder="Login" 
  [(ngModel)]="email" required #loginInput="ngModel"/>

  <input name="passwordInput" type="password" class="form-control" placeholder="Password" 
  [(ngModel)]="password" required #passwordInput="ngModel"/>

  <input name="cofirmInput" type="password" class="form-control" placeholder="Confirm Password" 
  [(ngModel)]="confirmPassword" required #confirmInput="ngModel"/>

  <div class="button-group">
    <button type="button" class="button-submit" 
    [disabled]="loginInput.invalid || passwordInput.invalid || confirmInput.invalid" 
    (click)="onRegisterClick()">Register</button>
  </div>
  
</form>